:root {

  --footer-color: #191A19;
  --background: #e6f0df;
  --collor: #344955;

  --primary-color: #344955;
  --alternat-color: #50727B;

  --news-color: #436850;
  --news-alternate: #005B41;

  --cards-news: #94b3a8;
  --text-news: #9EC8B9;

  --button-color: #78A083;
  --button-color-hover: #52725b;

  
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  background-color: var(--background);

  scroll-behavior: smooth;
}

::selection {
  background-color: #50758049;
}

/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #2e0303;
  border-radius: px;
  width: 10px;
}
*/
.text-center { 
  text-align: center;
}

.mt-10 {
  padding-top: 10px;
}

.alias {
  font-size: 10px;
  color: rgb(124, 199, 143);
}

.heading.explore {
  width: 100%;
  height: 100px;
  z-index: 0;
}

.wrapper-mid {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: var(--footer-color);
}

.alternate {
  align-items: center;
  background-color: var(--alternat-color);
  color: var(--background);
}

.blackGreen {
  /* display: none; */
  background-color: var(--news-color);
  color: var(--background);
}

nav {
  width: 100%;
  z-index: 3;
  position: fixed;
  background-color: var(--background);
}

.logo-nav a, img {
  transform: translateY(4px);
}

.container.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 60px;
}

nav ul {
  margin-left: 10px;
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.anchor.nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;

  padding: 8px;
  border-radius: 4px;

  color: var(--button-color);

  transition: 0.4s;
}

.anchor.nav:hover {
  color: var(--button-color-hover);
  background-color: #91bd9d4f;
}

.anchor.dif {
  text-decoration: none;

  padding: 8px;
  border-radius: 4px;

  background-color: var(--button-color);
  color: white;

  transition: 0.4s;
}

.anchor.dif:hover {
  background-color: var(--button-color-hover);
}

.responsive-button-navbar  {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* text-decoration: none; */

  padding: 8px;
  padding-bottom: 1px;
  border-radius: 4px;

  color: var(--button-color);

  align-items: center;
  justify-content: center;
  transition: 0.4s;
  
  transform: translateY(1px);
}

.responsive-button-navbar:hover {
  color: var(--button-color-hover);
  background-color: #91bd9d4f;
}


.wrapper-res-nav {
  height: 100%;
  width: 0;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  background-color: var(--primary-color);
  overflow-x: hidden;

  transition: 0.5s;

  padding-top: 60px;
}

.wrapper-res-nav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #818181; */
  display: block;
  /* transition: 0.3s; */
}

.anchor.nav.se {
  border-radius: 0px;
}

.wrapper-res-nav a:hover {
  color: white;
}

.anchor.nav.se:hover {
  color: white;
}

.s {
  position: absolute;
  top: 0;
  right: 25px;

  margin: 10px;
  margin-left: 50px;
  
  font-size: 36px;
  color: white;
}

.nav-home {
  display: flex;
  justify-content: space-between;

  color: #b6b6b6;

  padding: 15px;

  width: 86%;

  position: absolute;
  top: 0;
}

.nav-home a {
  transition: 0.4s;
  cursor: pointer;
}

.nav-home a:hover {
  color: white;
}

.background-image {
  background: url('/assets/background.png');
  background-size: cover;
  background-position: center;

  background-attachment: fixed;
  
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  width: 80%;
  text-align: center;
  color: var(--background);
}

.menu-wrapper .title h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
}


.paraf-ref {
  display: none;
}

.keyword {
  cursor: pointer;
  background-color: #78a0834b;
  color: var(--primary-color);
  text-decoration: none;
  padding: 2px 8px;
  border-radius: 2px;
  transition: 0.4s;
}

.keyword:hover {
  background-color: #4e6957c5;
  color: var(--background);
}

.tagged {
  /* font-weight: 100; */
  font-family: serif;
  font-style: italic;
}

.taggeds {
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}

.list-menu {
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.button.mdf a {
  color: var(--background);
  text-decoration: none;

  transition: 0.3s;

  padding: 5px 10px;

}

.button.mdf {
  margin-top: 10px;
}

.button.mdf a:hover{ 
  background-color: #3449558f;
  color: var(--background);
}

.li-menu {
  margin: 8px;

  text-decoration: underline;
  
  padding: 1px 4px;
  text-underline-offset: 8px;

  color: #6b7972;

  transition: 0.2s ease-in;
}

.li-menu:hover {
  color: white;
  background-color: #50727b33;
  /* background-color: #426664; */
}

.container.about {
  width: 80%;
  display: flex;
  justify-content: center;
}

.title.about, .wrapper-line, .paraf.about {
  margin: 10px;
  margin: auto;
}

.title.about {
  width: 50%;
  text-align: right;
  height: auto;
  display: flex;
  align-items: center;

  font-family: serif;
  font-weight: 900;
  font-size: 20px;
}

.paraf.about {
  width: 40%;
  height: auto;
}



.button.about {
  text-align: start;
}

.wrapper-line {
  display: flex;
  align-items: center;
}

.vertical-line {
  border-left: 1px solid var(--primary-color); 
  border-radius: 4px;
  height: 35vh; /* tinggi garis */
}

.button.about {
  margin-top: 5px;
}

.icon {
  transform: translateY(7px);
  margin: 0;
}

.button.about a {
  color: var(--collor);
  text-decoration: none;

  transition: 0.2s;

  padding: 5px 10px;
}

.button.about a:hover {
  background-color: #3449558f;
  color: var(--background);
}

.menu-wrapper .paraf {
  font-weight: 300;
  /* display: none; */
}

.horizon-line {
  border-bottom: 1px solid var(--footer-color);
  height: 1px;
  width: 80%;
  display: none;
  margin: auto;
}

.wrapper-wip {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wrapper.pr {
  width: 100%;
  height: auto;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
}

.title.pr {
  width: auto;
  text-align: center;
}

.container.pr {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  /* flex-wrap: wrap; */

  transition: 0.4s;
}

.prog.act, .event.act, .gallery.act, .news.act {
  justify-content: center;
  align-items: center;

  flex-direction: column;
  flex-wrap: wrap;
}

  .prog, .event, .gallery, .news {
  width: 100%;
  height: auto;


  transition: 0.4s;
  animation: 1s move;
  
  display: none;
  }
  

.cards {
  /* TEMP */
  display: none;

  margin: 20px;
  width: 350px;

  /* background-color: black; */
  color: #344955e7;

  overflow: hidden;

  animation: move 1s;
  transition: 1s ease;
  opacity: 0;
  /* cursor: pointer; */

  /* border-radius: 3px; */
  border-bottom: 5px solid var(--primary-color);
  border-right: 5px solid var(--primary-color);
}

.cards .paraf-cards {
  padding: 20px;
  /* z-index: 3; */
  background-color: #c8cab0;
}

.cards img {
  transition: 0.4s;
  background-position: center;
}

.cards img:hover {
  transform: scale(1.1);
}



.blurred {
  font-weight: 300;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: #354046e1;
}

.paraf-pr  {
  /* display: none; */
  font-weight: 200;
  padding: 0 20px 20px;
}

.wrapper-pages {
  display: flex;
  justify-content: center; 
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: auto;
}

.full-screen {
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
}

.items-center {
  display: flex;
  justify-content: center;

  width: 100%;
}

.paraf-news {
  padding: 20px;
  color: var(--collor);
}

.paraf-news h2 {
  font-size: 26px;
}

.writter-news {
  font-style: italic;
  font-weight: 200;

  text-decoration: underline;
  text-underline-offset: 4px;

  color: #c0e3c0;
}

.cards-news {
  /* Temp */
  /* display: flex; */

  width: 350px;
  height: auto;

  margin: 20px;
  
  overflow: hidden;

  animation: move 1s;
  transition: 1s ease;
  /* opacity: 0; */

  /* border-radius: 4px; */
  border-bottom: 5px solid #344955;
  border-right: 5px solid #344955;

  background-color: var(--cards-news);
  color: white;

  
  /* display: none  ; */
}


.image-news img {
  width: 100%;
  height: 100%;
  transform: translateY(-1%);
}

.paraf-news {
  color: var(--background);
}

.drop-down {
  z-index: 99999;
  
  position:fixed;
  top: 50%;
  left: 40%;
}

.switch-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

.switch-container {
  /* background-color: black; */

  border: 1px solid var(--alternat-color);

  overflow: hidden;
  border-radius: 50px;

  background-color: #223846;
  
  padding: 10px 0px;
}

.button-switch {
  background-color: #223846;
  border-radius: 50px;  

  padding: 15px;
  
  transition: 0.3s;

  cursor: pointer;

  color: var(--background);
  text-decoration: none;

  user-select: none;
}

.button-switch:hover {
  background-color: #344955;
}

.button-switch:active {
  transition: 0s;
  background-color: #476272;
}

.button-switch.active {
  background-color: #344955;
  border-radius: 50px;
}

.button-switch.active:hover {
  background-color: #445d6b;
}

.cards-event {
  /* TEMP */
  display: flex;
  flex-direction: column;

  width: 350px;
  height: auto;

  margin: 20px;
  
  overflow: hidden;
  text-align: center;

  /* border-radius: 4px; */
  border-bottom: 5px solid #344955;

  border-right: 5px solid #344955;

  background-color: #a6c9b0;
  color: var(--primary-color);

  /* font-size: 15px; */

  animation: move 1s;
  transition: 1s ease;
  /* opacity: 0; */
  
}

.fs-12px {
  width: 20px;
  transform: translateY(5px);
}

.image.event img {
  transform: translateY(-1%);
}

.wrap {
  background-color: var(--primary-color);
  width: 100%;
  position: static;
  top: 0%;
  left: 0%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position:fixed; */
  z-index: 0;
}

.content.event {
  width: auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.present {
  font-weight: 600;
}

.cards-gallery {
  /* temp */
  display: flex;

  height: 250px;
  width: 350px;

  margin: 10px;
  
  background-position: center;
  background-size: cover;
  /* padding: 10px; */
  border-bottom: 7px solid #344955;
  border-right: 7px solid #344955; 
  
  overflow: hidden;
  animation: move 1s;
  transition: 1s ease;
  /* opacity: 0; */
}

.wrp {
  height: 100%;
  
  display: flex;
  align-items: flex-end;

  font-size: 15px;
}

.wrapper.glr {
  background-color: #191a1959;
  padding: 11px;

  width: 100%;
  /* height: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transition: 0.4s;
}


.act {
  display: flex;
  flex-direction: column;

  opacity: 1;
}



@media screen and (min-width: 540px ) {
  .wrapper-res-nav {
    width: 0;
  }
  .skipper {
    display: none;
  }
}

@media screen and (max-width: 540px) {

  .menu-wrapper {
    width: 90%;
  }
  .menu-wrapper .title h1{
    font-weight: 700;
    font-size: 40px;
  }

  .menu-wrapper .paraf {
    display: none;
  }

  .paraf-ref {
    display: flex;
    font-weight: 300;
  }
}

@keyframes move {
  0% {
    opacity: 0;
  }
}

@media screen and (max-width: 850px) {
  nav ul {
    display: none;
  }
  .responsive-button-navbar {
    display: flex;
  }
}

@media screen and (max-width: 620px) {
  .title.about {
    text-align: center;
    width: 100%;
  }

  .container.about {
    flex-direction: column;
    text-align: center;
  }

  .paraf.about {
    width: 100%;
  }
  .vertical-line {
    display: none;
  }
  .horizon-line {
    display: flex;
    
  }

  .button.about {
    display: flex;
    justify-content: flex-end;
  }
}